<%- include ('./partials/messages'); %>
    <div id="dashboard-container" class="container">
        <div class="row align-items-start">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="row" id="dashboard-row">
                            <div class=col>
                                <h5 class="card-title"><a href="/food/list">Food list</a></h5>
                                <p class="card-text">Add your food</p>
                            </div>
                            <div class=col>
                                <a href="/food/add" class="dashboard-button">Add food</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="row" id="dashboard-row">
                            <div class=col>
                                <h5 class="card-title"> <a href="/users/food-diary-list">Food diary list</a></h5>
                                <p class="card-text">Your daily calories: current /<a href="/users/add-goal-calories">
                                        <%if (user.goalCalories==null) { %>
                                            <b>goal</b>
                                            <% } else { %>
                                                <%= user.goalCalories %>
                                                    <% } %>
                                    </a> kcal</p>
                            </div>
                            <div class=col>
                                <a href="/users/food-diary-entry" class="dashboard-button">Add to food diary</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="row" id="dashboard-row">
                            <div class=col>
                                <h5 class="card-title"><a href="/users/add-goal-weight">Goal weight</a>
                                    <%= user.goalWeight %> kg
                                </h5>
                                <p class="card-text">You are
                                    <%if (weightDifference> 0) { %>
                                        <%= weightDifference %>
                                            kg heavier than last time
                                            <% } else if (weightDifference < 0) { %>
                                                <%= weightDifference %>
                                                    kg lighter than last time
                                                    <% } else { %>
                                                        the same weight as last time.
                                                        <% } %>
                                </p>
                            </div>
                            <div class=col>
                                <a href="/weight/add" class="dashboard-button">Add weight</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="dashboard-row">
                <canvas id="weightChart"></canvas>
            </div>
        </div>
    </div>



    <script>
        //Chart.defaults.global = { defaultFontColor: 'dodgerblue'};
        var weightList = '<%- JSON.stringify(weightList) %>'
        console.log(weightList)
        Chart.defaults.color = "#ededed"
        var ctx = document.getElementById('weightChart').getContext('2d')
        var weightChart = new Chart(ctx, {
            type: 'line',
            options: {
                scales: {
                    x: {
                        ticks: {
                            source: 'data',
                            color: '#ededed'
                        },
                        grid: {
                            color: '#ededed'
                        }
                    },

                    y: {
                        beginAtZero: false,

                        grid: {
                            color: '#ededed'
                        },
                        ticks: {
                            color: '#ededed'
                        }
                    }
                },
                parsing: {
                    xAxisKey: 'date',
                    yAxisKey: 'weight'
                }
            },
            data: {
                datasets: [
                    {
                        label: 'Weight (kg)',
                        data: JSON.parse(weightList),
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.5,
                    }
                ]
            }
        })
    </script>