<h2>Food info: <%= food.name %> - <%= food.weight %>g</h2>

<p>Calories: <%= food.calories %> g</p>
<p>Saturated fat: <%= food.total_fat.saturated %> g</p>
<p>Polyunsaturated fat: <%= food.total_fat.polyunsaturated %> g</p>
<p>Monounsaturated fat: <%= food.total_fat.monounsaturated %> g</p>
<p>Trans fat: <%= food.total_fat.trans %> g</p>
<p>Cholesterol: <%= food.cholesterol %> mg</p>
<p>Sodium: <%= food.sodium %> mg</p>
<p>Potassium: <%= food.potassium %> mg</p>
<p>Total carbs: <%= food.total_carbs %> g</p>
<p>Dietary fiber: <%= food.dietary_fiber %> g</p>
<p>Sugars: <%= food.sugars %> g</p>
<p>Protein: <%= food.protein %> g</p>
<p>Vitamin A: <%= food.vitamin_a %>% daily</p>
<p>Vitamin C: <%= food.vitamin_c %>% daily</p>
<p>Calcium: <%= food.calcium %>% daily</p>
<p>Iron: <%= food.iron %>% daily</p>
