<script>
    function goBack() {
        window.history.back();
    }
</script>

<a onclick="goBack()" class="previous">← Back</a>
<h2>Add recipe</h2>
<form action="/recipes/add" method="POST">
    <input type="hidden" name="dietCategory" value="<%= dietCategory %>">
    <div>
        <label>Name:</label>
        <input name="recipeName" placeholder="Name of the recipe" />
    </div>
    <div>
        <label>Description:</label>
        <textarea name="recipeDescription" placeholder="Description of the recipe"></textarea>
    </div>
    <div class="checkbox-dish-category">
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="meat" name="recipeTag" value="meat">
            <label for="meat">Meat</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="vegetables" name="recipeTag" value="vegetables">
            <label for="vegetables">Vegetables</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="pasta" name="recipeTag" value="pasta">
            <label for="pasta">Pasta and wheat</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="fish" name="recipeTag" value="fish">
            <label for="fish">Fish and seafood</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="soup" name="recipeTag" value="soup">
            <label for="soup">Soup</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="eggs" name="recipeTag" value="eggs">
            <label for="eggs">Eggs</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="salads" name="recipeTag" value="salads">
            <label for="salads">Salads</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="deserts" name="recipeTag" value="deserts">
            <label for="deserts">Deserts and pastries</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="sauces" name="recipeTag" value="sauces">
            <label for="sauces">Sauces</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="spreads" name="recipeTag" value="spreads">
            <label for="spreads">Spreads</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="main-dish" name="recipeTag" value="main-dish">
            <label for="main-dish">Main dish</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="appetizers" name="recipeTag" value="appetizers">
            <label for="appetizers">Appetizers and snacks</label>
        </div>
        <div class="checkbox-dish-category-group">
            <input type="checkbox" id="side-dish" name="recipeTag" value="side-dish">
            <label for="side-dish">Side dish</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Add recipe</button>
</form>


<h2>Recipes list</h2>

<div class="card w-50">
    <div class="card-body food-diary-list">
        <% recipesList.forEach(function(recipe){ %>
            <div class="food-diary-element">
                <h5 class="card-title">
                    <%= recipe.name %>
                        <%= moment(recipe.date).format('DD/MM/YYYY') %>
                            <%if (recipe.user===user) {%>
                                <a href="#" class="delete-button" id="<%= recipe._id %>">Delete</a>
                                <% } %>
                </h5>
                <p class="card-text">
                    <%= recipe.description %> <br>Tags: <%= recipe.tag %>
                </p>
            </div>
            <% }); %>
    </div>
</div>

<script>
    $(document).ready(function () {
        //Za odstranjevanje vrstic
        $('.delete-button').click(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/recipes/' + $(this).attr('id'),
                type: 'DELETE',
                complete: function (result) {
                    window.location.reload(true)
                }
            });
        })
    })
</script>